@CHARSET "UTF-8";
body{
	padding:5px;
}
.layui-bg-blue,.layui-bg-green,.layui-bg-orange{
	text-align: center;
	font-size: 16px;
}

.layui-bg-cyan{
	text-align: center;
	font-size: 16px;
	background-color: #9b5aa6!important;
}

.layui-table, .layui-table-view{
	margin: 0;
}

.layui-table-cell {
    height: auto;
    line-height: 20px;
	font-size: 10px;
}

.btn-line{
	margin-top: 2px;
}

.layui-inline{
	margin-left: -20px;	
}

.layui-input{
	width:130px;
	height:30px;
}